.container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
}

.input {
  border: 1px solid black;
  padding: 10px;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 1px 1px #000000;
  border-radius: 10px;
}

.input:hover {
  border-color: cyan;
}
