.form_input {
  border: 1px solid black;
  padding: 10px;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 1px 1px #000000;
  border-radius: 10px;
}

.form_input:hover {
  border-color: cyan;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field__error {
  color: red;
  font-size: 12px;
}

.button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  transition: background-color 0.5s ease;
  width: 100px;
  background-color: #4681f4;
  box-shadow: 1px 1px #000000;
  align-self: center;
  cursor: pointer;
}

.button:hover {
  background-color: #92b6ff;
  color: #ffffff;
  font-weight: bold;
}
